@use "../styles/main.scss" as *;

.section4 {  
  .text_wrapper {
    display: flex;
    flex-direction: column;
    @include media-large {
      justify-content: space-around;
      flex-direction: row;
      padding: 5rem;
    }

    .title_wrapper, .description_wrapper {
      @include media-large {
        width: 40%;
      }
    }

    .description_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;

      p {
        margin: 0;
      }

      button {
        margin-top: 2rem;
        width: 40%;
        @include media-large {
          width: 30%;
        }
      }
    }

    .cyphers_wrapper {
      display: flex;
      gap: 4rem;      
      @include media-large {
        gap: 6rem;      
        justify-content: space-between;
      }
    }
  }

  
}
