@use "../styles/main.scss" as *;

.section1 {
  div {
    display: flex;
    flex-direction: column-reverse;
    @include media-large {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .text_wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      @include media-large {
        gap: 1.5rem;
        width: 45%;
      }
      
      .text_box {
        display: flex;
        h5 {
          text-align: center;
          @include media-large {
            text-align: left;
          }
        }
    
        @include media-large {
          flex-direction: row;
          justify-content: space-between;
        }
    
        div {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          @include media-large {
            width: 45%;
          }
        }
      }
    }

    .image_wrapper {
      width: 100%;
      margin-top: 1rem;

      @include media-large {
        margin-top: 0;
        width: 45%;
      }

      img {
        border-radius: 10px;
        height: 280px;
        object-fit: cover;
        width: 100%;
        @include media-large {
          height: 500px;
        }
      }
    }
  }
}

.section2 {
  .text_wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .steps_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
    width: 100%;
    gap: 2rem;
    @include media-large {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.skeleton {
  background-image: none !important;
  background-color: #e0e0e0 !important;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .bgSkeleton {
    position: absolute;
    inset: 0;
    z-index: 10;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
    color: #76991A;
    @include media-medium {
      font-size: 2rem;
    }
  }
}

.bgSkeleton__spinner {
  width: 48px;
  height: 48px;
  border: 7px solid #e0e0e0;
  border-top: 7px solid #76991A;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1.5rem;
  @include media-medium {
    width: 64px;
    height: 64px;
  }
}