@use "../styles/main.scss" as *;

.skeleton {
  background-image: none !important;
  background-color: #e0e0e0 !important;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .bgSkeleton {
    position: absolute;
    inset: 0;
    z-index: 10;
    background: #f7f7f7; // color más claro
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: 1.2rem;
    color: #76991A; 
    @include media-medium {
      font-size: 2rem; 
    }
  }
}

.bgSkeleton__spinner {
  width: 48px; // más pequeño en mobile
  height: 48px;
  border: 7px solid #e0e0e0;
  border-top: 7px solid #76991A;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-bottom: 1.5rem;
  @include media-medium {
    width: 64px; // más grande en pantallas medianas y superiores
    height: 64px;
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
