@use "../styles/main.scss" as *;

.container {
  @include wrapper;
}

.section1 {
  align-items: flex-start;
  background-image: url('../assets/images/bg1.jpeg');
  background-size: cover;
  background-position: center;
  color: $neutral-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: calc(100vh - 6rem);
  width: 100vw;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Capa oscura, puedes ajustar el 0.5 para más o menos oscuridad
    z-index: 1;
  }

  .text_wrapper {
    z-index: 2;
    position: relative;
    @include hero-text-spacing;
    @include media-medium {
      width: 40%;
    }
  }

  .buttons_wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .primary_button {
      background-color: $neutral-100;
      color: $neutral-700;
      border: none;
      padding: 0.8rem 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
    
    .secondary_button {
      background-color: transparent;
      color: $neutral-100;
      border: 1px solid $neutral-100;
      padding: 0.8rem 1.5rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}

.section2 {
  display: flex;
  flex-direction: column;
  padding: 5rem 0;
  row-gap: 3rem;
  text-align: center;

  .logos_wrapper {
    display: flex;
    justify-content: space-around;
  }

  .subtitle {
    @include Subtitle__02-Bold;
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;

  .cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include media-medium {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.section4 {
  .content_wrapper {
    display: flex;
    flex-direction: column;
    @include media-medium {
      flex-direction: row;
      gap: 4rem;
      justify-content: space-between;
    }

    img {
      border-radius: 12px;
      width: 100%;
      @include media-medium {
        width: 50%;
      }
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
       @include media-medium {
        justify-content: center;
        width: 50%;
      }
    }
  }
}

.section5 {
  .content_wrapper {
    display: flex;
    flex-direction: column;
    @include media-medium {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .data_text {
    @include Caption__01-Medium;
    display: block;
  }

  form {
    justify-self: center;
    width: 100%;
  }
}