@use "../styles/main.scss" as *;

.section1 {
  align-items: center;
  background-image: url('../assets/images/bg1.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  width: 100vw;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); // Capa oscura, puedes ajustar el 0.5 para más o menos oscuridad
    z-index: 1;
  }

  .text_wrapper {
    z-index: 2;
    position: relative;
    @include hero-text-spacing;
    @include media-medium {
      width: 40%;
    }
    h1, p {
      color: $neutral-100;
    }
  }

  .buttons_wrapper {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;

    .services_button {
      background-color: transparent;
      color: $neutral-100;
      &:hover {
        color: $trendy-green-300;
      }
    }
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  text-align: center;

  .cards_wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    @include media-medium {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

.section4 {
  .content_wrapper {
    display: flex;
    flex-direction: column;
    @include media-medium {
      flex-direction: row;
      gap: 4rem;
      justify-content: space-between;
    }

    a {
      font-weight: 600;
    }

    img {
      border-radius: 12px;
      width: 100%;
      @include media-medium {
        width: 50%;
      }
    }

    .text_wrapper {
      display: flex;
      flex-direction: column;
       @include media-medium {
        justify-content: center;
        width: 50%;
      }

      a {
        align-self: flex-end;
      }
    }
  }
}