@use "../styles/main.scss" as *;

.buttons_wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.section1 {
  @include media-large {
    padding: 0 10rem;
  }

  .text_wrapper {
    @include hero-text-spacing;
  }
}

.link {
  font-weight: $font-weight-003;
}