@use "../styles/main.scss" as *;

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  @include media-medium {
    width: 30%;
  }

  .image_wrapper {
    height: 52%;
    img {
      height: 100%;
      width: 100%;
      border-radius: 10px;
    }
  }
  
  .text_wrapper {
    display: flex;
    flex-direction: column;

    a {
      font-weight: $font-weight-002;
    }

    span {
      @include Caption__01-Regular;
      margin: 1rem 0;
    }
  }
}