@use "../styles/main.scss" as *;

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .button_item {
    display: flex;
    justify-content: flex-end;
  }
}

.link {
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}