@use '../styles/main.scss' as *;

.logo {
	width: 12rem;
}

.nav_bar {
	align-items: center;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: $neutral-100;
	flex-direction: row;
	display: flex;
	height: 6rem;
	justify-content: space-between;
	padding: 0 2rem;
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
	width: 100%;
	@include media-medium {
		padding: 0 4rem;
	}

	section, h1, h2, h3, p {
		margin-top: 0;
	}

	.list {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 6rem;
		left: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 1rem;
		gap: 1rem;
		list-style: none;
		text-align: center;
		z-index: 999;
	
		@include media-large {
			display: flex;
			position: static;
			flex-direction: row;
			width: auto;
			background-color: transparent;
			gap: 2rem;
			padding: 0;
		}

		li {
			display: flex;
			align-items: center;
			justify-content: end;
		}
	}

	.visible {
		display: flex;
	}

	.toggle_menu {
		display: block; 
		font-size: 1.5rem;
		cursor: pointer;
		@include media-large {
			display: none; 
		}
  }
}