@use '../styles/main.scss' as *;

.contact_button {
	background-color: $trendy-green-300;
	border: 0;
	border-radius: 0.2rem;
	color: $neutral-100;
	cursor: pointer;
	padding: 0.5rem 0.8rem;
}

.logo {
	width: 12rem;
}

.nav_bar {
	align-items: center;
	// background-color: transparent;
	background-color: rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	color: $neutral-100;
	flex-direction: row;
	display: flex;
	height: 6rem;
	justify-content: space-between;
	padding: 0 4rem;
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
	width: 100%;
	section, h1, h2, h3, p {
		margin-top: 0;
	}

	ul {
		display: none;
		@include media-large {
			display: flex;
			gap: 2rem;
			list-style: none;
			align-items: center;
			justify-content: space-around;
			width: 30%;
		}
		li {
			text-decoration: none;
		}
		li:hover {
			font-weight: bold;
		}
	}	

	.toggle_menu {
		display: block; 
		font-size: 2rem;
		cursor: pointer;
		@include media-large {
			display: none; 
		}
  }
}