@use '../styles/main.scss' as *;

.logo {
	width: 12rem;
}

.nav_bar {
	align-items: center;
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0.7);
	box-sizing: border-box;
	color: $neutral-100;
	flex-direction: row;
	display: flex;
	height: 6rem;
	justify-content: space-between;
	padding: 0 2rem;
	position: fixed;
	top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
	width: 100%;
	@include media-medium {
		padding: 0 4rem;
	}

	section, h1, h2, h3, p {
		margin-top: 0;
	}

	ul {
		display: none;
		@include media-large {
			display: flex;
			gap: 2rem;
			list-style: none;
			align-items: center;
			justify-content: space-around;
			margin: 0;
			width: 30%;
		}
	}	

	.toggle_menu {
		display: block; 
		font-size: 2rem;
		cursor: pointer;
		@include media-large {
			display: none; 
		}
  }
}