@use "./styles/main.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  // margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', 'Roboto', sans-serif;
	height: 100%;
	margin: 0;
  overflow-x: hidden; 
  padding: 0;
	width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.app {
	align-items: center;
	color: $neutral-800;
	display: flex;
	flex-direction: column;
	a {
		color: inherit; 
		cursor: pointer;
		margin: 1rem 0;
		text-decoration: none;
	}

	b, strong {
		font-weight: $font-weight-002;
	}

	button {
		@include Button__01-Regular;
	}

	h1 {
		@include Headline__01-Bold;				
	}

	h2 {
		@include Headline__02-Bold;
	}

	h3 {
		@include Headline__03-Bold;
	}

	h4 {
		@include Headline__04-Bold;
	}

	h5 {
		@include Headline__05-Bold;
	}

	button, li {
		@include Caption__01-Regular;
	}

	p {
		@include media-xsmall{
			@include Body__01-Regular; 
		}
	}

	small {
		@include Caption__01-Regular;
	}

	.content_wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between; 
		padding: 10%;
	}
}

section, h1, h2, h3, p {
  margin-top: 0;
}