@use "./styles/main.scss" as *;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body {
	font-family: 'Montserrat', 'Roboto', sans-serif;
	height: 100%;
  overflow-x: hidden; 
  padding: 0;
	width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.app {
	align-items: center;
	display: flex;
	flex-direction: column;

	a {
		color: inherit; 
		cursor: pointer;
		margin: 1rem 0;
		text-decoration: none;
	}

	b, strong {
		font-weight: $font-weight-002;
	}

	button {
		@include Button__01-Regular;
	}

	h1 {
		@include Headline__01-Bold;
		margin: 2rem 0 1rem;
	}

	h2 {
		@include Headline__02-Bold;
		margin: 1.5rem 0 1rem;
	}

	h3 {
		@include Headline__03-Bold;
		margin: 1.25rem 0 0.75rem;
	}

	h4 {
		@include Headline__04-Bold;
		margin: 1rem 0 0.5rem;
	}

	h5 {
		@include Headline__05-Bold;
		margin: 0.75rem 0 0.5rem;
	}

	h6 {
		@include Subtitle__01-Bold;
		margin: 0.5rem 0 0.25rem;
	}

	li {
		@include Caption__01-Regular;
	}

	button {
		@include Button__01-Regular;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	p {
		@include Body__01-Regular;
		margin: 0 0 1rem;
	}

	small {
		@include Caption__01-Regular;
		display: block;
		margin-top: 0.5rem;
	}

	.overline {
		@include Overline__01-Medium;
	}

	.content_wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between; 
		padding: 10%;
	}
}