$neutral-100: #FFFFFF;
$neutral-200: #EEEEEE;
$neutral-300: #CCCCCC;
$neutral-400: #AAAAAA;
$neutral-500: #666666;
$neutral-600: #444444;
$neutral-700: #222222;
$neutral-800: #000000;
$trendy-green-50: #F1F4E8;
$trendy-green-100: #E3EAD1;
$trendy-green-200: #9FB75E;
$trendy-green-300: #76991A;
$trendy-green-400: #5E7A14;
$trendy-green-500: #2F3D0A;
$trendy-green-600: #232D07;

