$sail-50: #f0f9ff;
$sail-100: #dff1ff;
$sail-200: #aee1ff;
$sail-300: #79d0ff;
$sail-400: #32b9fe;
$sail-500: #07a1f0;
$sail-600: #0080cd;
$sail-700: #0066a6;
$sail-800: #035689;
$sail-900: #094871;
$sail-950: #062d4b;
$yellow-900: #e5c500;
$yellow-700: #ffe400;
$yellow-500: #ffe944;
$yellow-300: #ffef7a;
$yellow-100: #fff4a8;
$grey-900: #2f3838;
$grey-700: #585b5b;
$grey-500: #898a89;
$grey-300: #a9b2b2;
$grey-100: #e1e5e5;
$green-yellow-50: #f8ffe4;
$green-yellow-100: #edffc4;
$green-yellow-200: #dbff90;
$green-yellow-300: #c0ff50;
$green-yellow-400: #adff2f;
$green-yellow-500: #85e600;
$green-yellow-600: #66b800;
$green-yellow-700: #4d8b00;
$green-yellow-800: #3e6d07;
$green-yellow-900: #365c0b;
$green-yellow-950: #193400;
$white-900: #ffffff;
$hover-grey: #f1f0f0;
