@use './tokens' as *;
@use './mediaqueries' as mq;

@mixin text-style($size, $weight, $spacing, $lineHeight, $mq-sizes: null) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
  line-height: $lineHeight;
  text-transform: none;

  @if $mq-sizes != null {
    @include mq.media-medium {
      font-size: map-get($mq-sizes, 'md');
    }
    @include mq.media-large {
      font-size: map-get($mq-sizes, 'lg');
    }
  }
}

@mixin Headline__01-Regular {
  @include text-style($font-size-002, $font-weight-001, 0em, 1.2, (
    md: $font-size-001,
    lg: $font-size-000
  ));
}

@mixin Headline__01-Medium {
  @include text-style($font-size-002, $font-weight-002, -0.005em, 1.2, (
    md: $font-size-001,
    lg: $font-size-000
  ));
}

@mixin Headline__01-Bold {
  @include text-style($font-size-002, $font-weight-003, -0.005em, 1.2, (
    md: $font-size-001,
    lg: $font-size-000
  ));
}

@mixin Headline__02-Regular {
  @include text-style($font-size-003, $font-weight-000, 0em, 1.2, (
    md: $font-size-002,
    lg: $font-size-001
  ));
}

@mixin Headline__02-Medium {
  @include text-style($font-size-003, $font-weight-001, 0em, 1.2, (
    md: $font-size-002,
    lg: $font-size-001
  ));
}

@mixin Headline__02-Bold {
  @include text-style($font-size-003, $font-weight-002, 0em, 1.2, (
    md: $font-size-002,
    lg: $font-size-001
  ));
}

@mixin Headline__03-Regular {
  @include text-style($font-size-005, $font-weight-000, 0.025em, 1.3, (
    md: $font-size-004
  ));
}

@mixin Headline__03-Medium {
  @include text-style($font-size-005, $font-weight-001, 0.025em, 1.3, (
    md: $font-size-004
  ));
}

@mixin Headline__03-Bold {
  @include text-style($font-size-005, $font-weight-002, 0.025em, 1.3, (
    md: $font-size-004
  ));
}

@mixin Headline__03-Black {
  @include text-style($font-size-005, $font-weight-003, 0.025em, 1.3, (
    md: $font-size-004
  ));
}

@mixin Headline__04-Regular {
  @include text-style($font-size-005, $font-weight-000, 0em, 1.4, (
    md: $font-size-004
  ));
}

@mixin Headline__04-Medium {
  @include text-style($font-size-005, $font-weight-001, 0em, 1.4, (
    md: $font-size-004
  ));
}

@mixin Headline__04-Bold {
  @include text-style($font-size-005, $font-weight-002, 0em, 1.4, (
    md: $font-size-004
  ));
}

@mixin Headline__04-Black {
  @include text-style($font-size-005, $font-weight-003, 0em, 1.4, (
    md: $font-size-004
  ));
}

@mixin Headline__05-Regular {
  @include text-style($font-size-006, $font-weight-000, 0.015em, 1.4, (
    md: $font-size-005
  ));
}

@mixin Headline__05-Medium {
  @include text-style($font-size-006, $font-weight-001, 0.015em, 1.4, (
    md: $font-size-005
  ));
}

@mixin Headline__05-Bold {
  @include text-style($font-size-006, $font-weight-003, 0.015em, 1.4, (
    md: $font-size-005
  ));
}

@mixin Headline__05-Black {
  @include text-style($font-size-006, $font-weight-003, 0.015em, 1.4, (
    md: $font-size-005
  ));
}

@mixin Subtitle__01-Regular {
  @include text-style($font-size-005, $font-weight-000, 0.015em, 1.4);
}

@mixin Subtitle__01-Medium {
  @include text-style($font-size-005, $font-weight-001, 0.015em, 1.4);
}

@mixin Subtitle__01-Bold {
  @include text-style($font-size-005, $font-weight-002, 0.015em, 1.4);
}

@mixin Subtitle__02-Regular {
  @include text-style($font-size-008, $font-weight-000, 0.01em, 1.5, (
    md: $font-size-007
  ));
}

@mixin Subtitle__02-Medium {
  @include text-style($font-size-008, $font-weight-002, 0.01em, 1.5, (
    md: $font-size-007
  ));
}

@mixin Subtitle__02-Bold {
  @include text-style($font-size-008, $font-weight-003, 0.01em, 1.5, (
    md: $font-size-007
  ));
}

@mixin Body__01-Regular {
  @include text-style($font-size-008, $font-weight-000, 0em, 1.5, (
    md: $font-size-007
  ));
}

@mixin Body__02-Regular {
  @include text-style($font-size-008, $font-weight-000, 0em, 1.5);
}

@mixin Button__01-Regular {
  @include text-style($font-size-006, $font-weight-001, 0em, 1.5);
}

@mixin Button__01-Medium {
  @include text-style($font-size-006, $font-weight-002, 0.0125em, 1.5);
}

@mixin Caption__01-Regular {
  @include text-style($font-size-008, $font-weight-000, 0.004em, 1.25);
}

@mixin Caption__01-Medium {
  @include text-style($font-size-008, $font-weight-001, 0em, 1.5);
}

@mixin Overline__01-Regular {
  @include text-style($font-size-008, $font-weight-000, 0.015em, 1.22);
}

@mixin Overline__01-Medium {
  @include text-style($font-size-008, $font-weight-001, 0.015em, 1.22);
}
