@forward './tokens';
@use './mediaqueries' as *;

@mixin wrapper{
	box-sizing: border-box;
	padding: 2rem 1.25rem;
	width: 100%;

	@include media-medium{
		padding: 3.5rem 2rem;
	}

	@include media-large{
		padding: 4rem 6rem;
	}
}

@mixin shadow{
	box-shadow: 6px 6px 40px rgba(199, 185, 255, 0.3);
}

@mixin hero-text-spacing {
  padding-top: 5rem;
}