
$font-size-000: 3.5rem;
$font-size-001: 3rem;
$font-size-002: 2.5rem;
$font-size-003: 2.25rem;
$font-size-004: 2rem;
$font-size-005: 1.5rem;
$font-size-006: 1.25rem;
$font-size-007: 1.125rem;
$font-size-008: 1rem;
$font-weight-000: 300;
$font-weight-001: 400;
$font-weight-002: 500;
$font-weight-003: 700;
$font-weight-004: 900;
$font-family-000: Roboto;
